/* ===============================
GLOBAL
================================ */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

body{
background:#0b0b0b;
color:#fff;
height:100vh;
overflow:hidden;
}