/* ===============================
MAIN
================================ */
.main{
height:calc(100vh - 52px - 64px);
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

/* HERO */
.hero{
text-align:center;
padding:20px;
max-width:520px;
}

.hero h1{
font-size:28px;
font-weight:700;
margin-bottom:24px;
}

/* ACTIONS */
.actions{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
}

.actions button{
height:44px;
background:#141414;
border:none;
border-radius:14px;
color:#fff;
font-size:14px;
display:flex;
gap:8px;
align-items:center;
justify-content:center;
cursor:pointer;
transition:.2s;
}

.actions button:hover{
background:#1d1d1d;
}