/* ===============================
TOP BAR
================================ */
.topbar{
height:52px;
padding:0 12px;
display:flex;
align-items:center;
justify-content:space-between;
border-bottom:1px solid #1f1f1f;
background:#0b0b0b;
}

.icon-btn{
width:36px;
height:36px;
border-radius:12px;
background:#1a1a1a;
border:none;
color:#fff;
display:flex;
align-items:center;
justify-content:center;
}

.try-pill{
display:flex;
gap:6px;
align-items:center;
padding:6px 14px;
background:#151515;
border-radius:999px;
font-size:14px;
cursor:pointer;
}

.dot{
width:6px;
height:6px;
background:#7c6cff;
border-radius:50%;
box-shadow:0 0 6px rgba(124,108,255,.8);
}

.icon-group i{
margin-left:10px;
font-size:16px;
opacity:.75;
}